In [1]:
import pandas as pd
print(pd.__version__)

2.3.3

In [2]:
file_path = input("Enter the full path to your CSV file: ")

Enter the full path to your CSV file:  C:\Users\Sachi\Downloads\NovPNCExport.csv

In [3]:
# Read the CSV file

# The CSV must have at least two columns: "Category" and "Amount"
df = pd.read_csv(file_path)

# Preview the data (optional)
print(df.head())

  Transaction Date        Transaction Description   Amount  \
0          PENDING  Amazon.com*BT8H58J42 CARD1315  -$62.88
1          PENDING  STROSNIDERS HARDWARE CARD1315  -$29.66
2          PENDING    PIN POS AMAZON.COM CARD1315   -$8.65
3          PENDING          Amazon Fresh CARD1315   -$2.96
4          PENDING         AMAZON ONEMED CARD1315      -$9

              Category  Balance
0            Groceries  PENDING
1  General Merchandise  PENDING
2            Groceries  PENDING
3            Groceries  PENDING
4          Health Care  PENDING

In [4]:
#Clean data

if 'Amount' in df.columns:
    # Convert all values to strings for uniform processing
    df['Amount'] = (
        df['Amount']
        .astype(str)
        .replace(r'[^0-9.\+-]', '', regex=True)  # remove everything except digits, . + and -
        .replace('', '0')                       # replace blanks with 0
    )

    # Convert to numeric, forcing errors to NaN
    df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

    # Drop rows where Amount couldn't be converted
    df = df.dropna(subset=['Amount'])
else:
    print("No'Amount' column.")
    exit()

# Summarize by category
if 'Category' in df.columns and 'Amount' in df.columns:
    category_summary = (
    df.groupby('Category')['Amount']
    .sum()
    .abs()  # make totals positive for display
    .sort_values(ascending=False)
)

    # Print the summary
    print("\nðŸ’° Total spending (or income) by category:")
    print(category_summary)

ðŸ’° Total spending (or income) by category:
Category
Paychecks                10203.05
Mortgage                  3000.00
Transfers                 1556.69
Groceries                  914.94
Taxes                      800.00
Automotive                 711.35
General Merchandise        702.03
Credit Card                648.42
Insurance                  628.33
Dining Out                 487.70
Utilities                  353.72
Healthcare                 298.35
Cell Phone                 243.71
Internet                   199.98
Savings                    150.00
Auto Maintenance           125.50
Financial Gym              100.00
Subscriptions               99.37
Kiran Activity              56.70
Clothing                    47.49
Prepaid Legal               44.00
Allowance                   39.00
 Healthcare                 30.08
Health Care                  9.00
Services and Supplies        2.20
Other Expenses               0.62
Travel                       0.40
Interest                     0.01
Name: Amount, dtype: float64